body, html {
    padding:2px;
}

h1{
    font-size:32px;
    line-height: 40px;
}
h3{
    font-size: 20px; 
}
h4{
}
h5{
    letter-spacing:1px;
    font-size: 18px; 
    margin:0px;
}
p {
    font-size:16px; 
}
/* Home Style */
header {
    margin-left:5px;
    margin-right:5px;
    margin-top:5px; 
    min-height: 150vh;
}
header p {
    font-size:12px; 
    line-height: 24px;
    margin:0px;
}
button {
    font-size:;
    letter-spacing:;  
    text-transform:;
    padding:;
    background-color:;
}
button:hover, button:focus, button:active {
    background-color: #FFFFF3;
    text-decoration: none;
    outline: none; 
}
button img{
    margin-right:5px;
    margin-left:15px;
    margin-bottom:5px;
}
.button-more{
    z-index:1;
    position:absolute;
    bottom:0px;
    right:0px;
    margin-bottom:30px; 
    margin-right:30px;
    background:none;
}
/* Big */
#big .text-wrap{
    padding-top:55px;
    width:80%;
    margin:auto;
}
/*about-section*/
.section-element{
    margin-left: 5px;
    margin-right:5px;
}
#about-section{
    padding-top:30px;
    padding-bottom:30px;
}

/*foto*/
#foto-section{
    padding:0px; 
}
#tussen-section{
    background: url(../img/DSC00820.jpg) no-repeat bottom center;
    background-size: cover;
    position: relative;
    min-height: 500px;
    border: 6px solid #000000;
    margin-left:5px;
    margin-right:5px;
    border-top: none;
 
}
/*keuken*/
#menu-section{
    padding-top:80px; 
    padding-bottom: 80px;   
}
.citroen img{
    display:none;
    width:110px;
    margin-top:70px;
}
.asperge img{
    display:none;
    width:110px;
    margin-right:0px;
    margin-top: 390px;
}
/*KUNST*/
#kunst-section h2{
    font-size: 24px;
    line-height:36px;
}

.kunst-daan{
    position:absolute;
    left:20px;
    top:20px;
    padding:22px;
    padding-bottom: 80px;
    max-width:90%;
    text-align:left;
}
.kunst-title {
    width:100%;
}
/*Post-item*/
.post-intro{ 
    top:0px; 
    left:0px;
    max-width:100%;
    text-align:left;
    z-index:1;
}
.post-title{
    margin-top:40px;
}
.post-header-image {
    min-height: 300px;
    margin-left:5px;
    margin-right:5px;
    margin-top:100px; 
    border-bottom:none;
}
.button-back{
    text-align: left;
    width:160px;
    margin-top:15px;
}
.post-content{
        text-align: left;
        padding:22px;
}
.post-content-img{
   padding:22px;
}
.post-content-img img {
    margin-bottom: 0px;
}