<footer class="container-l">
    <div class="row">
        <div class="footer-box col-md-3 text-center">
            <h6>Contact<br></h6>
            <p>015 - 889 27 77<br>hallo@decentraledelft.nl</p>
        </div>
        
        <div class="footer-box col-md-3 text-center">
            <h6>Openingstijden<br></h6>
            <p>ma, wo, do, vr vanaf 17:30<br>za, zo vanaf 15:00<br>di gesloten<br></p>
        </div>

        <div class="footer-box col-md-3 text-center">
            <h6>Locatie<br></h6>
            <p>Voldersgracht 2<br>2611 ET Delft</p><a href="https://www.google.nl/maps/place/Voldersgracht+2,+2611+ET+Delft/@52.011741,4.355754,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b5c3b08304c5:0x79ad52aba43f8354!8m2!3d52.011741!4d4.357948" target="_blank">route</a>
        </div>

        <div class="col-md-3 text-center">
            <a href="https://www.facebook.com/decentraledelft" target="_blank">facebook</a><br>
            <a href="https://www.instagram.com/decentraledelft/" target="_blank">instagram</a>
        </div>

  </div>
</footer>  

