.wijnfestival-background{
	background-color:#FFE9E9;
}
.wijnfestival-content-background{
	background: url(../img/wijnfestival/wijnfestival-header.png) 50% 0%/cover no-repeat;
	background-size: 100%;
	min-height:384vh;
	top:90px;
	padding:40px;
}
.wijnfestival-content{
	position:absolute;
	display:flex;
	flex-direction:column;
	top:120px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.row-flex{
	display:flex;
	justify-content: flex-end;
	margin-bottom:40px;
}
.btn-wijn:hover{
	background-color: #FFE9E9;
	color:;
    top:0px;
    text-decoration: none;
    outline: none; 
    border: 4px solid black;
    box-shadow: 0px 0px 16px 0px rgba(54,54,54,0.15);
}
.foto-1{
	width:40%;
	    box-shadow: 0px 0px 16px 0px rgba(54,54,54,0.15);
}
.foto-2{
	width:25%;
	    box-shadow: 0px 0px 16px 0px rgba(54,54,54,0.15);
}
.foto-3{
	width:50%;
	   
}
.foto-3 img{
	width:80%;
	 box-shadow: 0px 0px 16px 0px rgba(54,54,54,0.15);
}
.foto-4{
	width:50%;
	    
}
.foto-4 img{
	width:80%;
	float-right
}

.text-2{
	padding:80px;
width:80%;
	background-color:white;
	margin-right:240px;
	    box-shadow: 0px 0px 16px 0px rgba(54,54,54,0.15);
}
@media (max-width: 768px) {
  .wijnfestival-content{
	top:15%;
}
.wijnfestival-content-background{
	background: url(../img/wijnfestival/wijnfestival-header.png) 0% 0%/cover no-repeat;
	background-size: 100%;
	min-height: 255vh;
	top: 56px;
}
.text-2{
	margin-right:0px;
	width:100%;
	padding:20px;
}
}
@media (max-width: 480px) {
  .wijnfestival-content{
	top:70%;
}
.wijnfestival-content-background{
	background: url(../img/wijnfestival/wijnfestival-header.png) 0% 0%/cover no-repeat;
	background-size: 160%;
	top: 56px;
	min-height: 240vh;
}

}


    
    