h1{
  font-family: 'Karla', sans-serif;
  font-size:32px;
  color:white;
  font-weight: 700;
  height:48px;
  letter-spacing: 0px;
  letter-spacing: 1px;
  text-transform: none;
}
@media (max-width: 480px) {
  h1{
      font-size:24px;
  }
}
.icon-wijnpakket{
    width:84px; 
    margin-bottom:24px;
    margin-top:20px;
}

#eigen-vondst-container {
    margin-bottom: 40px;
}

p{
    font-size: 16px !important;
    margin-bottom:0px;
}
@media (max-width: 480px) {
  p{
    font-size: 14px !important;

}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
     
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
table.blueTable {
    background-color: #FFFAEB;
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
  table.blueTable td, table.blueTable th {
    border: 7px solid #FFFFFF;
    padding: 24px 24px;
  }
@media (max-width: 480px) {
  table.blueTable td, table.blueTable th {
      padding: 12px 8px;
  }
}
  
  table.blueTable tbody td {
    font-size: 18px;
  }
  @media (max-width: 480px) {
    table.blueTable tbody td {
      font-size: 16px;
    }
  }
  table.blueTable tr:nth-child(even) {
    background: #F4F0E1;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  table.blueTable thead {
    background: #FFFFFF;
  }
  table.blueTable thead th {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-align: left;
    padding: 8px;
    position: sticky;
    top: 88px;
    background:  #FFFAEB;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.05);
  }
  @media (max-width: 480px) {
    table.blueTable thead th {
      font-size: 12px;
      top:48px;
    }
  }
  
  .hoe-bestellen{
    margin-left:20% !important;
    margin-right:20% !important;
    text-align:center;
  }
  .h1{
    font-family: 'Karla', serif;
    font-style:normal !important;
    margin-bottom:16px;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 8px;
}
.shop-rules{
    margin-bottom:40px;
}
.cadeaubon-footer{
    background: url(../img/wijnpakket/wijn-tafel.jpg) 50% 50%/cover no-repeat;
    background-size: 1400px;
    min-height: 80vh;
    margin-top:50px;  
}
